<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="collapse navbar-collapse show">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">{{"ABOUT" | getText}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/releases">{{"RELEASES" | getText}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/listen">{{"LISTEN" | getText}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/watch">{{"WATCH" | getText}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/photos">{{"PHOTOS" | getText}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/contacts">{{"CONTACTS" | getText}}</a>
      </li>
    </ul>
  </div>
</nav>
<div class="bottom_line"></div>